@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,125,100..900;1,125,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Play:wght@400;700&family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unbounded:wght@200..900&display=swap');


:root{
--size-font: 102%;
--size-font-th-1st: 1.3em;
--size-font-th: 2em;
--size-font-th-ex: 1.1em;
--family-font-th: var(--family-font-5);
--family-font: var(--family-font-1);
--family-font-1: Tahoma, sans-serif;
--family-font-2: Verdana, sans-serif;
--family-font-3: "Russo One", sans-serif;
--family-font-4: "Play", sans-serif;
--family-font-5: "Ubuntu", sans-serif;
--color-font-1: #2e2e2e;
--color-font-2: #a6a220;
--color-font-3: #a00c0c;
--color-font: var(--color-font-1);
--color-font-category: #bdbdbd;
--color-th: #aeaeae;
--color-th-ex: #4f44bb;
--bg-tr-nth-odd-color: #efefef;
--bg-tr-nth-even-color: #ffffffaa;
--bg-tr-hover: #a0c5e8;
--bg-th-color: #36304A;
--bg-body: linear-gradient(45deg, #fee, #aae);
--ico-filter-invert: .9;
--table-width: 95%;
--table-shadow: 0 0 76px -36px #1c02ff;
}

/* 
1. Заложить фундамент адаптива — viewports.
1.1. Desktop: сжать таблицу до 80-90% ширины экрана.
1.2. Mobile: 100%
2. Настроить быстрое управление строками: расшир-е, суж-е, сдвиг.
2.1. Сверстать макет умной строки: чек-анчек, ввод объемов, выбор пакетов.
3. Фон

*/
*{
padding: 0;
margin: 0;
font-size: var(--size-font);
font-family: var(--family-font);
color: var(--color-font);
}
body{
/* background: var(--bg-body); */
background: linear-gradient(0deg, #00243e 10%, #bbf 19%, #c0aeed 53%, #ffffff 96%, #ffffff);
}
nav.nav{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 75px;
margin: 50px auto;
}
.fa-image{
/* margin: 10px 51px 15px 62px; */
color: rgba(255,183,107,.9);
}
.fa-map-marker, .fa-play-circle-o{
/* margin: 10px 51px 15px 0px; */
  }
.fa-map-marker{
color: rgba(243,84,81,.9);
}
.fa-play-circle-o{
color: rgba(204,255,96,.9)
}
.fon {
/* background: linear-gradient(to bottom, #e8e8e8 0%, #828c95 36%, #28343b 100%); */
background: url("../imags/ico/1200x402.jpg") 50% 0 no-repeat;
background-size: 83%;
}
.t-pri {
width: 97%;
margin: auto;    
position: relative;
}
.icon {
width:40px;
}
/* Главная таблица */
table {
min-width: var(--table-width);
max-width: var(--table-width);
margin: 0 auto 50px;
font-family: Inconsolata, Monaco, Consolas, Andale Mono, Bitstream Vera Sans Mono, Courier New, Courier, monospace;
font-style: normal;
font-size: 1.5em;
border-collapse: collapse;
position: relative;
}
table.shadow::before {
content:"";
position: absolute;
inset: -5px;
transform: translate3d(1px,25px,-1px);
background: conic-gradient(from 90deg at 4% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
filter: blur(40px);
}
table.box {
  background: #afe7fa;
  position: relative;
  transform: translate(0);
  transform-style: preserve-3d;
}
table.box tr:last-of-type td{
padding-bottom: 100px;
}
table.box tr td:first-of-type{
padding-left: 15px;
}
table.box tr td:nth-last-of-type(2){
padding-left: 15px;
}
table.box tr td:last-of-type{
padding-right: 15px;
padding-left: 15px;
}

/* Где должен обнуляться счетчик: В строке с наименованием очередной категории */
tr.cat {
counter-reset: trCount;
}
/* Где должен прирастать счетчик: В каждой строке кроме той, что с наименованием категории */
tr:not(.cat) {
counter-increment: trCount;
}

/* В какой ячейке расположен номер: в каждой ПЕРВОЙ ячейке КАЖДОЙ строки*/
tr td:first-of-type::before {
content: counter(trCount);
font-size: 1.1em;
padding-left: 7px;
}

td{
padding: 20px 0;
position: relative;
}

tr:nth-of-type(even):not(.cat) {
background: var(--bg-tr-nth-even-color);
}
tr:nth-of-type(odd):not(.cat) {
background: var(--bg-tr-nth-odd-color);
}
tr:hover{
background: var(--bg-tr-hover);
background-size: contain;
opacity: 0.7;
}
/* tr td:nth-of-type(1):active tr{
background-color: #a0e8a7;
background-size: contain;
opacity: 0.7;
} */

/* КАТЕГОРИИ РАБОТ */

table:first-of-type th{
font-size: var(--size-font-th-1st);
}

th{
  background-color: var(--bg-th-color);
  max-height:150px;
  height:100px;
  overflow: hidden;
  color: var(--color-th);
  font-size: var(--size-font-th);
  padding: 25px; /* Ширина строки категорий (font-size + padding * 2) */
}

/* СТИЛЬ КАТЕГОРИЙ */

/* Размер шрифта*/
tr th:nth-last-of-type(-n+2) {
font-size: var(--size-font-th-ex);
color: var(--color-th-ex);
}
/* Стиль дополнительных наименований столбцов */
tr:first-of-type{
color: var(--color-font-category);
font-size: 1rem;
}
/* Стиль Иконки Категорий */
tr th:first-of-type {
width: 100px; /* ? Жесткий размер по горизонтали для первой ячейки */
height: 100px; /* ? Жесткий размер по вертикали для первой ячейки */
margin: 30px 50px; /* ? */
}
tr th img{
box-sizing:content-box; /* ? */
width: 90%; /* ? */
display: block;
border: 3px solid #3d3d3d;
border-radius: 20%;
padding: 5px; /* Отступы между img и рамкой */
filter: invert(var(--ico-filter-invert)); /* Осветление иконок категорий */
}

  /* Стиль Иконки Категори №1 /Исключение/ */
tr:first-of-type th.cat img{

}
  /* //СТИЛЬ КАТЕГОРИЙ */

/* Идейка сырая с чеканьем позиций прайса */
tr td:first-of-type::after{
content: url(../imags/ico/plus48.svg);
filter: brightness(150%) contrast(110%);
transform: scale(75%);
position: absolute;
top: calc(10px);
left: 60px;
transition: ease 500ms;
display: block;
cursor: pointer;
}
tr:hover td:first-of-type::after{
transform: rotate(45deg);
transition: ease 500ms;
}
/* // */

h1{
width: 70%;
min-width: 65%;
max-width: 75%;
font-size: 1.75em ;
color:red;
padding: 500px 0 100px;
margin: 0 auto;
text-align: center;
}

h4{
margin: 15px auto;
text-align: center;
}

nav.maps-nav{
position: fixed;
top: 6px;
left: 25%;
z-index: 1;
}
nav.maps-nav a:first-of-type{
margin-right: 5px;
}
nav.maps-nav a{
/* display: block; */
font-size: 1em;
text-decoration: none;
color: #fff;
padding: 15px 30px; 
border-radius: 11px;
border: 1px solid #ddd;
text-align: center;
vertical-align: middle;
background-color: #ccc;
text-shadow: 2px 2px #999999;
}

nav.maps-nav a:hover{
background-color: #999;
/*font-size: 1em;*/
color:#333;
text-shadow: 2px 2px #dfdfdf;
}

form{
width: 60%;
margin: 0 auto 100px;
background: #16e;
padding: 50px 10px;
border-radius: 50px;
/* flex-direction: column; */
}
form{
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px 20px;
}
form section:first-of-type{
display: flex;
flex-direction: column;
}
form section:first-of-type input{
background: #6f8bfc;
}

input:not([type="submit"]){
background: #16e;
width: 250px;
/* padding: 5px 10px; */
font-size: 21px;
color: #efefef;
box-sizing: border-box;
/* border-radius: 15px; */
/* border: none; */
/* border: ,1px solid #0425cb; */
outline: none;
}

input:focus{
  border-bottom: 3px solid #c6cce8;
}

footer.footer{
width: 100%;
background: url(../imags/bg/001.png) 0px 101% /110% no-repeat;
height: 1100px;
}

#mpurrep{
position: relative;
left: 80%;
/* display: inline-block; */
padding: 0 5px;
width:220px;
height: 100px;
}
#mpurrep img{
width: 210px;
}

#cur_year {
display: block;
position: relative;
left: 78.2%;
bottom: 34.4%;
color: #fff;
transform: skewY(19deg);
font-family: 'Russo One', sans-serif;
font-size: 10.5px;
width: 22%;
user-select: none;
}
.layout_04{
position: relative;
min-width: 22%;
max-width: 22%;
/* min-width: 15%; */
top: 20px;
left: 65%;
z-index: -10;
}